* {
padding: auto;
margin: auto;
}
nav{
    height: 50px;
}
#nav-a{
text-decoration: none;
margin-top: 10px;
padding: 10px;
display: flex;
float: left;
color: ghostwhite;
font-size: 20px;
}
#nav-a:hover{
color: orange;
box-shadow: 1px 0px 10px 1px;
border-radius: 10px;
}

.landing {
    background-image:url(../images/gym-6894904_1280.jpg);
    height: 1000px;
}